.DS_Store
*.tgz
runtime

# dependencies
node_modules

# eslint cache
.eslintcache

# node-red
examples/.examples.json.backup
examples/.dashboard.json.backup
integration-tests/.integration-tests.json.backup
